@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <h1>City Auto Complete</h1>
    <div>
        <input type="text" class="inputBox" id="searchInput" placeholder="Input At Least 2 Chars" />
        <div class="resultContainer" id="result"></div>
    </div>
</div>

